In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
    
    result =[]
    
    for i in range (0,x+1):
        for j in range(0,y+1):
            for k in range(0,z+1):
                if i+j+k!=n:
                    result.append([i,j,k])
                    
    print(result)

In [ ]:
number = "3,874,215,655:654'454,666,"
print(number[1::4])
seperators = number[1::4]

values="".join(char if char not in seperators else " " for char in number).split()
print([int(val) for val in values])

In [ ]:
name="Ravi,Prashant,Prem,Ankur"
separated = ""
j = len(name)
for i in range(0,j):
    if name[i] == ",":
        separated+=name[i]
naam = "".join(char if char not in separated else " " for char in name).split()
# print([str(val) for val in naam])
print(naam)

In [ ]:
def average_marks(student_records, query_name):
    if query_name in student_records:
        avg_marks = sum(student_records[query_name]) / len(student_records[query_name])
        print("{:.2f}".format(avg_marks))
    else:
        print("Student not found.")

if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        data = input().split()
        name = data[0]
        scores = list(map(float, data[1:]))
        student_marks[name] = scores
    query_name = input()
    
    average_marks(student_marks, query_name)

In [ ]:
x, y, z, n = (int(input()) for _ in range(4))

result = [[i, j, k] for i in range(x + 1) for j in range(y + 1) for k in range(z + 1) if i + j + k != n]

print(result)

In [ ]:
def main():
    x=get_int()
    print(x)

def get_int():
    while True:
        try:
            return int(input("Enter a Integer"))
            break
        except ValueError:
            pass


main()

In [ ]:
if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    max_val = max(arr)
    runner_up = max([x for x in arr if x != max_val])
    print(runner_up)

In [ ]:
if __name__ == '__main__':
    # Input the number of students
    n = int(input())

    # Create a nested list to store names and grades
    students = []
    for _ in range(n):
        name = input()
        grade = float(input())
        students.append([name, grade])

    # Sort the students based on grades
    students.sort(key=lambda x: (x[1], x[0]))

    # Find the second lowest grade
    second_lowest_grade = sorted(set(grade for name, grade in students))[1]

    # Print the names of students with the second lowest grade
    for name, grade in students:
        if grade == second_lowest_grade:
            print(name)